<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2015 - Patrick J - ps-app
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~    http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pddstudio.earthviewer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- For Muzei Wallpaper (other permissions are required anyways) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/earthviewicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DemoActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WallpaperActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_wallpaper"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.WallpaperPreview" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Settings" />
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- FileProvider to apply Wallpapers -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.pddstudio.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/providers" />
        </provider>

        <!-- Muzei Wallpaper Service -->
        <service
            android:name=".muzei.EarthViewerSource"
            android:description="@string/app_bar_sub_title"
            android:icon="@drawable/earthviewicon"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource" />
            </intent-filter>
            <meta-data android:name="color" android:value="#3f51b5" />
            <meta-data android:name="settingsActivity" android:value=".muzei.MuzeiSettingsActivity" />
        </service>

        <activity
            android:name=".muzei.MuzeiSettingsActivity"
            android:theme="@style/AppTheme.Transparent"
            android:exported="true" />

    </application>

</manifest>
